﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my code first project using ASP.NET 4.5 entity framework</h1> <br />
    <h3>Let me first introduce myself</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Academic Profile</h2>
        <table>
            <tr>
                <th><img src="~/images/profiles/Ashif.jpg" width="200" height="200" /></th>
            </tr>
            <tr>
                <th>Graduate Student - School of Applied Technology</th>
            </tr>
            <tr>
                <th>Master's in Information Technology & Management</th>
            </tr>
            <tr>
                <th>Concentration - Software Development and Data Analytics</th>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Experience</h2>
        <table>
            <tr>
                <th>Tata Consultancy Services Ltd - Bangalore, India</th>
            </tr>
            <tr>
                <th>Designation - Assistant System Engineer <br />Role: Software Developer</th>
            </tr>
            <tr>
                <th>From: Dec.2011 - Nov.2013</th>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h2>About this application</h2>
        <p>This application is created with a purpose to gain hands on experience on ASP.NET 4.5 Entity Framework</p>
        <p>To learn about MVC model and how to implement different functionalities which includes CRUD, Error logging<br />
        and authorization.</p>
    </div>
</div>