﻿@model ProjectMVC.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>

        @if (Model.ImagePath != null) { 
        <dd>
            @*this is to get image from the application folder*@
            <img src="~/images/profiles/@Model.ImagePath" width="200px" height="200px"/>
        </dd>
        }
        
        @if (Model.Picture != null) { 
        <dd>
            @*this is to get image from the database type1. gets the model.picture and converts it to a image*@
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" width="200px" height="200px" />
        </dd>
        }
        
        @if (Model.Picture != null) { 
        <dd>
            @*this is to get image by using method. Execute the GetImage Action method by passing a id*@
            <img src="@Url.Action("GetImage","Student", new {id=Model.StudentId})" width="200px" height="200px" />
        </dd>
        }
    </dl>
</div>

@*To display the enrollment details*@
<table class="table">
    <tr>
        <th>
            Course Title
        </th>
        <th>
           Grade
        </th>
        
    </tr>

    @foreach (var item in Model.Enrollments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
