﻿@model IEnumerable<ProjectMVC.Models.Student>
@using ProjectMVC.Helpers

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
                    @*DisplayName, ActionMethod*@
    @*If we dont specify the controller name by default it will see that we clicked in index page 
        of Student controller and it will call the Create method of Student Controller*@
    @Html.ActionLink("Create New", "Create")
</p>

@*If we want some other action method to be called. Search ActionMethod in Student controller*@
@using (Html.BeginForm("Search","Student"))
{ 
    @*Editor name and parameter name shud be same.*@
    @Html.Editor("SearchBox")
    <input type="submit" value="Search" class="btn btn-info" />
}
<table class="table">
    <tr class="success">
        <th>

            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            Surname
            @*@Html.DisplayNameFor(model => model.lastName)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Truncate(item.FirstName,10)
            @*@Html.DisplayFor(modelItem => item.firstName)*@
        </td>
        <td>
            @Html.Truncate(item.LastName, 10)
            @*@Html.DisplayFor(modelItem => item.lastName)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td>
            @*id is same as the id parameter in Edit action method*@
            @*More than 1 parameter can be passed by id=item.PersonId, abc=item.firstName*@
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId}) |
            @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
        </td>
    </tr>
}

</table>
