﻿@model IEnumerable<ProjectMVC.Models.Student>
@{
    ViewBag.Title = "Abc Page";
}

<h2>This is the html page under Xyz controller</h2>

@*this model represents the object alex of student passed here
    IEnumerable is nothing but a interface which denotes a collection*@

@*<h3>Course details: @Model.course.CourseName <br />
    @Model.course.TotalCredits</h3>*@

@foreach (var item in Model) { 
<h3>@item.firstName</h3>
<h3>@item.lastName</h3>
<h3>@item.EnrollmentDate</h3>
}